html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

#container {
  background-color: black;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.logo-container {
  width: 300px;
  margin: 0 auto;
  img {
    margin-top: 40px;
    width: 100%;
  }
}

.enter-name-container {
  position: fixed;
  height: 100%;
  width: 100%;

  .dark-underlay {
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .prompt-box {
    opacity: 0;
    animation-name: bounceIn;
    animation-delay: 0.5s;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    border-radius: 6px;
    width: 300px;
    min-height: 200px;
    background-color: #421711;
    border: 4px solid #2b0f0b;
    position: absolute;
    left: calc(50% - (378px / 2));
    right: 50%;
    z-index: 2;
    top: 40px;
    padding-left: 30px;
    padding-right: 48px;
    padding-bottom: 20px;

    input {
      border-radius: 6px 6px 0 0;
      padding: 10px;
      height: 20px;
      text-align: left;
      font-size: 16px;
      background-color: white;
      background-repeat: repeat;
      background-image: none;
      background-position: 0% 0%;
      border-style: none;
      border-bottom: 2px solid #464c5c;
      width: 300px;
      &:nth-child(2) {
        border-radius: 0 0 6px 6px;
      }
    }

    button {
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      background-color: #ff5b08;
      border: 2px solid #a43103;
      color: white;
      height: 45px;
      width: 320px;
      margin-top: 10px;
    }

  }

}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}